[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.columns {
  /*display: block;*/
  border: 1px solid #DADEE1;
}
.column {
  width: 300px;
  height: 142px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 3px #9f9f9f;
  -ms-box-shadow: inset 0 0 3px #9f9f9f;
  box-shadow: inset 0 0 3px #9f9f9f;
  margin: auto;
}
.prefecture{
  font-size: 50%
}
.title_text {
  text-align: center;
}
.column.over {
  border: 2px dashed #000;
}
.scr {
  overflow-y: auto;  /* スクロール表示 */
  width: 300px;
  height: 500px;
  float: left;
}


.inner{
  padding-bottom: 2px;
  border-bottom: 2px solid #D8D8D8;
  margin-bottom: 20px;
}

.keyword{
  border-top: 2px solid #D8D8D8;
}

h5{
  border-left: 5px solid #000;
  margin: 0 0 3px;
  padding-left: 7px;
}

.desc_input{
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  color: #999;
  font-size: 100%;
  font-weight: normal;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  border-radius: 3px;
}
.tag{
  height: 40px;
}
.desc,.title{
  height:100px;
}
