<br>
<div class="container">
  <form #myForm="ngForm" (ngSubmit)="post($event)">
    <div class="row">

      <div class="col-sm-4">
        <div class="scr columns">
          <ng-container *ngFor="let ts of s_tss">
            <div class="column search_plan" draggable="true">
              <h4 [id]="ts.id" class="title_text">{{ ts.name }}<span class="prefecture">-{{ ts.prefecture }}</span></h4>
              <p>{{ ts.desc }}</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="scr columns">
          <ng-container *ngFor="let ts2 of tss">
            <div class="column create_plan" draggable="true">
              <h4 [id]="ts2.id" class="title_text">{{ ts2.name }}<span class="prefecture">-{{ ts2.prefecture }}</span></h4>
              <p>{{ ts2.desc }}</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-sm-4">
        <h5>旅行計画のタイトル</h5>
        <input type="text" name="name" [(ngModel)]="routeplan.name" class="form-control" type="text" placeholder="タイトルを入力してください。" required #name="ngModel">
        <span *ngIf="name.errors?.required && name.dirty">
        タイトルは必須です</span>
        <h5>簡単な説明</h5>
        <textarea name="desc" [(ngModel)]="routeplan.desc" class="desc_input desc" placeholder="簡単な説明を入力してください。" required #desc="ngModel"></textarea>
        <span *ngIf="desc.errors?.required && desc.dirty">
        軽く説明を入れてください</span>
        <div class="form-group">
          <input type="submit" value="計画を保存する" class="btn btn-primary" [disabled]="myForm.invalid || myForm.submitted">
        </div>
      </div>

    </div>
  </form>
  </div>

<br>

<div class="container keyword" style="padding:10px 0">
  <form class="form-inline" #myForm2="ngForm" (ngSubmit)="search()">

    <span>スポット名：</span>
    <div class="form-group">
      <input type="text" name="search_spot" id="search_spot" class="form-control" [(ngModel)]="search_spot" placeholder="キーワード入力">
    </div>
    <div class="form-group">
      <input type="submit" value="検索" class="btn btn-primary">
    </div>
  </form>
</div>
